<!DOCTYPE html>
<html>
  <head>
    <title>Streak Tracker</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <h1>
      <span style="color: #16a278">𝙻𝚎𝚎𝚝</span
      ><span style="color: #efa41e">𝙲𝚘𝚍𝚎</span
      ><span style="color: #b62223">𝙳𝚊𝚒𝚕𝚢</span>
    </h1>

    <div class="container">
      <!-- Form to add a new user -->
      <div class="form-section">
        <h2>Add New User</h2>
        <form action="{{ url_for('add_user') }}" method="post">
          <input
            type="text"
            name="new_user"
            placeholder="Enter new user name"
            required
          />
          <button type="submit">Add User</button>
        </form>
      </div>

      <!-- Form to delete a user -->
      <div class="form-section">
        <h2>Delete User</h2>
        <form action="{{ url_for('delete_user') }}" method="post">
          <select name="user_to_delete" required>
            {% for user in users %}
            <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
          </select>
          <button type="submit">Delete User</button>
        </form>
      </div>
    </div>

    <div class="container">
      <!-- Display data in table -->
      <div class="container">
        <div class="table-section">
          <table>
            <thead>
              <tr>
                <th>Date</th>
                {% for user in users %}
                <th>{{ user }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for entry in data %}
              <tr>
                <td class="date-cell">{{ entry['Date'] }}</td>
                {% for user in users %}
                <td
                  class="{% if entry['User_questions'][user]|length > 0 %} Completed {% else %} Missed {% endif %}"
                >
                  {% if entry['User_questions'][user]|length > 0 %} {% for q,
                  url, d in entry['User_questions'][user] %}
                  <div class="question-container">
                    <span
                      class="delete-btn"
                      onclick="deleteQuestion('{{ entry['Date'] }}', '{{ q }}', '{{ user }}')"
                    ></span>
                    <a href="{{ url }}" target="_blank" class="{{ d.strip() }}"
                      >{{ q.split('.')[0] }}</a
                    >
                  </div>
                  {% endfor %} {% else %} missed &#9785; {% endif %}
                </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="form-container">
        <!-- Form to add questions -->
        <div class="form-section">
          <div class="date-block" id="utcDate"></div>
          <form action="{{ url_for('add') }}" method="post">
            {% for user in users %}
            <div class="entry-row">
              <label for="{{ user }}"> {{ user.upper() }}:</label>
              <input
                type="text"
                name="{{ user.lower() }}"
                placeholder="Question for {{ user }}"
              />
              <select name="{{ user.lower() }}_difficulty">
                <option value="">Select Difficulty</option>
                <option value="Easy">Easy</option>
                <option value="Medium">Medium</option>
                <option value="Hard">Hard</option>
              </select>
            </div>
            {% endfor %}
            <button type="submit">Add Questions</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      document.getElementById("utcDate").innerText =
        "📅 " +
        new Intl.DateTimeFormat("en-US", {
          weekday: "short",
          year: "numeric",
          month: "short",
          day: "numeric",
          timeZone: "UTC",
        }).format(new Date()) +
        " (LeetCodeTime - UTC)";

      // Get the list of users from the server
      const users = {{ users | tojson }};

      // Form validation script
      const forms = document.querySelectorAll("form");
      forms.forEach((form) => {
        form.addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent default form submission

          let isValid = true;
          let errorMessages = [];

          users.forEach(function(user) {
            const userInput = form.querySelector(`input[name='${user.toLowerCase()}']`);
            const userDifficulty = form.querySelector(`select[name='${user.toLowerCase()}_difficulty']`);

            // Validate user's input
            if (
              userInput && userInput.value.trim() !== "" &&
              (!userDifficulty || userDifficulty.value === "")
            ) {
              isValid = false;
              errorMessages.push(`Please provide ${user}'s difficulty.`);
            } else if (
              userInput && userInput.value.trim() === "" &&
              userDifficulty && userDifficulty.value !== ""
            ) {
              isValid = false;
              errorMessages.push(`Please provide ${user}'s question.`);
            }
          });

          if (isValid) {
            form.submit(); // Submit the form if validation passes
          } else {
            alert(errorMessages.join("\n")); // Display error messages
          }
        });
      });

      function deleteQuestion(date, question, user) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '{{ url_for("delete_question") }}';

        const dateField = document.createElement('input');
        dateField.type = 'hidden';
        dateField.name = 'date';
        dateField.value = date;
        form.appendChild(dateField);

        const questionField = document.createElement('input');
        questionField.type = 'hidden';
        questionField.name = 'question';
        questionField.value = question;
        form.appendChild(questionField);

        const userField = document.createElement('input');
        userField.type = 'hidden';
        userField.name = 'user';
        userField.value = user;
        form.appendChild(userField);

        document.body.appendChild(form);
        form.submit();
      }
    </script>
  </body>
</html>
